<div class="footer">
		<div class="container">
			<div class="footer-info">
				<div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".5s">
					<h4 class="footer-logo"><a href="index.html">Store <b>Funny</b> <span class="tag">Mọi lúc mọi nơi, nhanh gọn lẹ </span> </a></h4>
					<p>© 2018 Store Funny . Bản quyền| Thiết kế bởi <a href="http://w3layouts.com" target="_blank">Đặng Minh Nhựt</a></p>
				</div>
				<div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".7s">
					<h3>Phổ biến</h3>
					<ul>
						<li><a href="trang-chu">Trang chủ</a></li>
						<li><a href="san-pham">Sản phẩm</a></li>
						<li><a href="lien-he">Liên hệ</a></li>
						<li><a href="gio-hang">Giỏ hàng</a></li>
					</ul>
				</div>
				<div class="col-md-4 footer-grids wow fadeInUp animated" data-wow-delay=".9s">
					<h3>Theo dõi</h3>
					<p>Theo dõi ngay để nhận thêm những thông tin nhanh nhất về chúng tôi </p>
					<form>
						<input type="text" placeholder="Nhập địa chỉ email" required="">
						<input type="submit" value="OK">
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
